html,
body {
    height: 100%;
    margin: 0px;
}

body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: auto;
    background-image: url("../images/dust_scratches.png");
}

h1,
h2 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #4aaaa5;
    margin-top: 0px;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}


/* header styling */

header {
    background-color: #ffffff;
    border-bottom: 2px solid #cccccc;
    padding: 0px;
    width: 100%;
}

div.top {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}

h1.header {
    width: fit-content;
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 30px;
    position: relative;
    float: left;
    margin: 0px;
}

.navbar {
    overflow: hidden;
    display: flex;
    position: relative;
    padding: 30px 0px 30px 0px;
    float: right;
}

.navbar a {
    color: #777777;
    margin: auto;
    line-height: 20px;
    height: 20px;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    list-style-type: none;
    padding: 0px 20px 0px 20px;
}

#last {
    padding-right: 0px;
}

.navbar a:hover {
    background-color: #4aaaa5;
    color: black;
}


/* END header styling */


/* main styling */

.wrapper {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    flex: 1 0 auto;
    position: relative;
}

#content,
#sidebar {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    display: block;
    padding: 25px;
}

#content {
    float: left;
    width: 590px;
}

#content hr {
    border-top: 3px solid rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid rgba(255, 255, 255, 0.3);
    width: 100%;
}

#sidebar {
    float: right;
    width: 210px;
}

img {
    max-width: 60px;
    height: auto;
    float: left;
}


/* About page */

img.profile {
    max-width: 40%;
    float: left;
    margin: 16px;
    margin-left: 0px;
}


/* END About page */


/* Portfolio page */

div.portfolio {
    margin: 22px auto;
    border: 0px;
    display: block;
    float: left;
    max-width: 47%;
    position: relative;
}

div.portfolio:nth-of-type(2n) {
    margin: 22px 0px;
    margin-right: 0px;
    float: right;
}

div.portfolio img {
    max-width: 100%;
}

div.desc {
    padding: 10px 0px;
    background-color: #4aaaa5;
    position: absolute;
    bottom: 10px;
    height: 40px;
    width: 100%;
}

h2.desc {
    position: relative;
    bottom: -7px;
    color: #ffffff;
    text-align: center;
}


/* END Portfolio page */


/* Contact page */

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

textarea {
    height: 200px;
}

input[type=submit] {
    width: fit-content;
    float: left;
    background-color: #4aaaa5;
    color: white;
    padding: 8px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #777777;
}


/* END main styling */


/* footer styling */

footer {
    background-color: #666666;
    border-top: 9px solid #4aaaa5;
}

p.footer {
    text-align: center;
    font-size: 12px;
    padding: 30px;
    color: #dbdbdb;
}


/* END footer styling */